- title = ''
h2 Welcome to nTunes!
p This is a stupid little demonstation of a couple of possible things you can do with nTunes.
p You're encouraged to study/use this server file: 
  b= demoServerFile
  br
  | as a starting point for using the nTunes API in a project of your own.
ul
  li
    a(href='/browser') Song Browser
